/**/
    body {    
        font-size: 62.5%; 
        font-size: 0.5em;
        margin : 0px;
        background-color: #38A8F3;
        color: #000088;
    }
    #map {
        left : 0px;
    	width:355px;
    	height:280px;
    }
    #btnA {
        font-size: 15px;
        left:0px; width:130px;height:30px;
        background-color: #000000;
        color: #FF66CC;
    }
    #data {
        font-size: 4em;
        position:absolute; top:650px; left:20px; width:85%; height:60px;
        
    }
    #mycanvas{
        position:absolute; top:120px; left:190px;
    }
    #canvas{
        position:absolute; top:0px; left:200px;
    }
    #wrdPlace{
        position:absolute; top:600px; left:0px;
    }
    #sTime{
        position:absolute; top:620px; left:0px;
    }
    #text{
        position:absolute; top:580px; left:0px;
    }
    #exp{
        position:absolute; top:640px; left:0px;
    }
    #showProfile{
        position:absolute; top:210px; left:0px;
        color: #FF66CC;
    }
    #name{
        position:absolute; top:140px; left:0px;
        color: #FF66CC;
    }
    #city{
        position:absolute; top:80px; left:0px;
        color: #FF66CC;
    }
    #data1{
        font-size: 15px; width:150px;height:25px;
    }
    #data2{
        font-size: 15px; width:150px;height:25px;
    }
    #button {
        font-size: 15px; width:80px; height:25px;
        background-color: #000000;
        color:rgb(255, 174, 0);
    }
    #button1 {
        font-size: 15px; width:80px; height:25px;
        background-color: #000000;
        color:rgb(238, 255, 0);
    }
    #message {
        font-size: 15px;
        border-style: solid;
        border-color: grey;
    }
    #data0{
        font-size: 15px; width:300px; height:25px;
    }
    #display{
        font-size: 15px;
        border-style: solid;
        border-color: grey;
    }
    #now{
        font-size: 15px;
    }